@import 'tailwindcss';

@keyframes spin {
  to { transform: rotate(360deg); }
}
 .animate-spin-slow {
        animation: spin 3s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    #loader .fade-out {
        opacity: 0;
        transition: opacity 0.8s ease;
        pointer-events: none;
    }
    @media (max-width: 414px) {
  .welcome-text-p {
   font-size: 10px;
   padding: 0px 20px;
     }
     .welcome-text-h {
       font-size: 25px;
     }
     .welcome-button {
     gap: 10px;   
     }
     .welcome-button button {
        font-size: 12px;
        padding: 10px 10px;
     }
     .service-h {
        font-size: 25px;
     }
     .reason-h {
        font-size: 25px;
     }
     .reason-d {
        padding: 20px;
     }
     .ready-t h1  {
        font-size: 20px;
     }
      .ready-t p {
        font-size: 12px;
        padding: 0px 20px;
      }
      .ready-b {
        gap: 20px;
        font-size: 12px;
      }
      .footer-l a {
        font-size: 10px;
        gap: 10px;
      }
    }
        
